.catavignette {
  width:15%;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  gap:5px;

}

.catarow {
  display: flex;
  flex-direction: row;
  align-items:center;

}

.bread {
  color:#9c27b0;
}