
body {
  font-family: Arial, sans-serif;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  align-items: flex-start;
}

.bread {
  font-size: 18px;
  margin-bottom: 10px;
}

.container1 {
  width:50%;
  padding:40px;

}
.container2 {
  width:50%;
  padding:40px;
}

.formulaire {
display:flex;
flex-direction: column;
align-items: baseline;
justify-content: space-evenly;

gap:10px;
background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;

}

.formulaire2 {
  display:flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;

  gap:10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  }

 input[type="text"],[type="email"]{
  width: 50%;
 }

 label {
  background-color: #DBF7C4;
 }

