
body {
  font-family: Arial, sans-serif;
bread{
  color:#9c27b0;
}

}
.cartecont {
display: flex;
flex-direction: row;
justify-content: space-around;

}


.adresse {
  padding:15px;
}

h3 {
margin:25px;

}

.formulairecont {
  margin:25px;
  display:flex;
  flex-direction: column;
  gap:15px;
}