body {
  font-family: Arial, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.bread {
  font-size: 18px;
  margin-bottom: 10px;
  margin: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.legproduit {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px;
}

.legdescr {
  gap: 10px;
  width: 40%;

}

.coldroit {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 60%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.vignette {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vignette img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.textvignette {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.nomleg {
  font-weight: bold;

}

.prixcont {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #555;
  width: 30%
}

.quantitecont {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantitetextcont,
.quantitetext,
.quantiteqtecont {
  margin-top: 5px;
  font-size: 16px;
}

.quantiteplusmoinscont {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.quantitemoinscont {
  background-color: #ff6666;
  color: white;
}

button.quantitepluscont {
  background-color: #66b3ff;
  color: white;
}

button:hover {
  opacity: 0.8;
}

.nometprix {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.quantiteettext {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;


}

.qteplusoumoins {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;

}

.quantiteqtecont {
  text-align: center;

}

.plusoumoinsqte {
  display: flex;
  flex-direction: column-reverse;
  width: 30%;
  align-items: center;
  border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 30px;
  padding: 10px;
}

.prixtext {
  font-weight: bold;
}

.notations {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  align-items: flex-start;
}

.comment {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 70%;
  font-weight: bold;
  gap: 10px;
}

.fav {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 50%;

}

.notat {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 15%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descri {
  display: flex;
  flex-direction: row;

}

.descrinom {
  width: 70%;
}

.descricontent {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
}

.saiso {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  margin: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%;


  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.saisorec {
  display: flex;
  flex-direction: row;
}

.famil {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 23px;
  align-items: center;
}

.mettre {
  margin: 5px;
  font-size: 30px;
}
.enlev {
  margin: 5px;
  font-size: 30px;
}

.sais {
  font-weight: bold;
}

.prixlegg,
.univenven {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: solid 2px;
  gap: 2px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

.divleg {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap:80px;
}
.favnot {
  display: flex;
  flex-direction: row;
  width: 100%;
}

